/* set container as flex
*/
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* set up flex */
.container {
    display: flex;
    background: #fff;
    min-height: 100vh;
    flex-flow: column;
}
/* set main content to take up as much space as it needs
- the footer will stick at the bottom since container takes up whole window and main does not*/
main {
    display: flex;  
    flex: 1;
    flex-flow: column; /* mobile first */
}

main > article {
    display: flex;
    flex-flow: column; /* mobile first */
    flex: auto;
    text-align: center;
    height: 100vh;
    color: #fff;
    background-color: rgba(1, 1, 40, .7);
    background-image: url("../img/manhattan.jpg");
}

 /* intro, menu, and navigation */

 .intro {
    display: flex;
    /*position: relative;*/
    flex: auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/*.mainHeading {
    display: flex;
    flex-flow: column;
    flex: auto; grow to all available space
    justify-content: center;
    align-items: center;
} */

.mainHeading > h1 {
    font-size: 3.5rem;
    margin: 1rem;
}

.mainHeading > h2 {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.menuContainer {
    position: absolute;
    display: flex;
    flex-flow: column;
    bottom: 0;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    align-items: center;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: rgb(1, 1, 54); 
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-align: center;
}

.menu {
    transition: transform 1s ease, height 1s ease, width 1s ease;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
}

.menu > h3 {
    font-size: 1rem;
}

.menu.scaled {
    transform: scale(5);
    height: 100%;
    width: 100%; /* want full screen on mobile*/
}

nav {
    position: absolute;
    display: none; 
    z-index: 5;
    width: 100%;
    order: -1;
    /* the next few are for when we use jquery to make display:flex*/
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

nav > a {
    font-size: 3.5rem;
    display: block;
    color: rgb(1, 1, 54);
    opacity: .8;
    text-decoration: none;
    cursor: pointer;
}

#navSocial {
    display: none;
    position: absolute;
    border-top: solid rgb(1, 1, 54) 2px;
    background-color: #fff;
    z-index: 7;
}

#navSocial > a {
    transition: opacity .5s;
    margin: 1rem;
    color: rgb(1, 1, 54);
}


.projectDropDown {
    height: 0px;
    width: 100%;
    transition: height 700ms ease-out;
    overflow: hidden;
    font-size: 1.5rem;
}

#navExitButton {
    display: none;
    position: absolute;
    z-index: 88;
    margin-bottom: 1rem;
    background-color: rgb(1, 1, 54);
    height: 4rem;
    width: 4rem;
    top: 3rem;
    margin: auto;
    color: #fff;

}

/* project menu transitions */
.swing {
    color: rgb(1, 1, 54);
    text-decoration: none;    
    display: block;
    cursor: pointer;
    opacity: 0;
    -moz-transition: opacity 500ms ease-in, transform 700ms ease-in;
    -webkit-transition: opacity 500ms ease-in, transform 700ms ease-in;
    -o-transition: opacity 500ms ease-in, transform 700ms ease-in;
    transition: opacity 500ms ease-in, transform 700ms ease-in;
    -moz-transform: translate3d(-200px, 0px, 0px);
    -webkit-transform: translate3d(-200px, 0px, 0px);
    -o-transform: translate(-200px, 0px);
    -ms-transform: translate(-200px, 0px);
    transform: translate3d(-200px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}


.swing.active {
    opacity: .8;
    -moz-transition: opacity 700ms ease, transform 500ms ease;
    -webkit-transition: opacity 700ms ease, transform 500ms ease;
    -o-transition: opacity 700ms ease, transform 500ms ease;
    transition: opacity 700ms ease, transform 500ms ease;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

/* PROJECT PAGES */

 projects {
    display: flex;
    flex-flow: column;
    background-color: #fff;
}
.projectButtons {
    transition: background-color .4s, opacity .4s;
    height: 8rem;
    width: 8rem;
}

.projectDesc {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;
    align-items: center; 
}
.projectDesc > a {
    text-decoration: none;
}
.projectDesc > h1 {
    font-size: 2rem;
}

/* fade from bottom */
.fade-up {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 75px, 0px);
    -webkit-transform: translate3d(0px, 75px, 0px);
    -o-transform: translate(0px, 75px);
    -ms-transform: translate(0px, 75px);
    transform: translate3d(0px, 75px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /* for subject classes whose parents have both fade-up and in-view classes*/
  .fade-up.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  
.projects > section {
    display: flex;
    position: relative;
    align-items: center;
    color: #fff;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.project1, .project2, .project3, main > article {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.project1 {
    display: flex;
    flex-flow: column;
    margin: 6rem 0 3rem 0;
    background-color:rgb(1, 1, 54);
    background-blend-mode: screen;
    background-image: url("../projects/ravenous/src/components/SearchBar/background_search_mobile.jpg"); 
}

.project2 {
    display: flex;
    flex-flow: column;
    margin: 6rem 0 3rem 0;
    background-image: url("../projects/jammming/src/components/App/background_photo_desktop.jpg"); 
    
}

.project3 {
    display: flex;
    flex-flow: column;
    margin: 6rem 0 3rem 0;
    background: rgb(1, 1, 54);
    
}


.aboutMe {
    display: flex;
    flex-flow: column;
    margin: 6rem 0 0 0;
    background:  rgb(1, 1, 54);
}

div > a {
    color: #000000;
    text-decoration: none;
}

p {
font-size: 1rem;
padding: 1rem;
margin: 2rem 0;
}
#aboutMe > article h1 {
    margin: .5rem 0;
}
#aboutMeSummary {
    text-align: left;
    font-size: .75rem;
    margin: 0;
}
ul {
    margin: 0 0 2rem 0;
}

li {
    font-size: .75rem;
    width: 75%;
    margin: auto;
    padding: .5rem;
    text-align: left;
    flex: initial;
}
test {
    flex: initial;
}

section > footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.backHome {
    color: #fff;
    bottom: 2%;
    right: 1%;
}

/* footer */
.socialLinks {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: auto;
    height: 6rem;
    background-color: #fff;
    transition: background-color 1s;
}

.socialLinks > a {
    color: #000000;
    margin: 1rem;
    transition: opacity .5s;
}

#portrait {
    max-width: 5rem;
}

#contactMeLink {
    color: #fff;
    text-decoration: none;
    transition: opacity .5s;
}
#contactMeLink h3 {
    margin-bottom: 0;
}

/* media query for desktop 
# starting at 900px
*/
@media screen and (min-width:900px) {

     /* intro, menu, and navigation */
    .mainHeading > h1 {
        font-size: 5rem;
    }

    nav > a:hover {
        opacity: .5;
    }

    .projectDropDown {
        font-size: 1.8rem;
    }
    
    .menu {
        width: 6rem;
        height: 6rem;
    }
    
    .menu > h3 {
        font-size: 1.5rem;
    }
    
    .menu.scaled {
        width: 10%;
    }

    .menu:hover {
        cursor: pointer;
    }
    .menu.scaled:hover {
        cursor: default;
    }
    
    .projectDropDown > a:hover {
        opacity: .5;
    }

    .projectButtons:hover {
        opacity: .5;
    }

    #navExitButton:hover {
        cursor: pointer;
        opacity: .8; 
    }
   
    #navSocial:hover > a{
        opacity: .3;
    }

    #navSocial > a:hover {
        opacity: 1;
    }

    /* Projects and About Me*/
    
    /* add parallax effect*/
    .project1, .project2, .project3, main > article {
        background-attachment: fixed;
    }
    .project1 {
        background-image: url("../projects/ravenous/src/components/SearchBar/background_search_desktop.jpg"); 
    }

   #portrait {
        max-width: 25rem;
    }

    #aboutMe > article h1 {
        margin: 1rem 0;
    }

    #aboutMeSummary {
        text-align: left;
        font-size: 1rem;
    }

    li {
        font-size: 1rem;
        width: 75%;
        margin: auto;
        padding: .5rem;
        text-align: left;
    }

    #contactMeLink {
        transition: opacity .5s;
    }
    #contactMeLink:hover {
        opacity: .5;
    }

    /* footer */
    .socialLinks:hover {
        background-color: #000000;
    }

    .socialLinks:hover > a {
        opacity: .3;
        color: #fff;
    }

    .socialLinks > a:hover {
        opacity: 1;
    }
}


