.load-playlist-button {
    margin: 1rem;
}

.myModalDialog {
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    border: .1rem solid rgb(204, 204, 204);
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-transform: translate(-50%,-50%) scale(0) ;
    transform: translate(-50,-50%) scale(0) ;
    transition: all 300ms ease-in-out;
    overflow: scroll;
    height: 25rem;
        /*-webkit-transform: translate3d(0px,75px,0px);
    transform: translate3d(0px,75px,0px);*/
}

.myOverlay {
    background-color: rgba(1, 12, 63, .7);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*-webkit-transform: scale(0.5);
    transform: scale(0.2);
    /*opacity: 0;*/
    
}

/* react modal */

  .ReactModal__Overlay--after-open {
    /*opacity: .9;*/
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 300ms ease-in-out;
  }

  .ReactModal__Overlay--before-close {
    /*opacity: 0;*/
    /*-webkit-transform: scale(0.5);
    transform: scale(0.2);*/
    transition: all 300ms ease-in-out;
    
  }

  .ReactModal__Content--after-open {
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50,-50%) scale(1);
      /*-webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);*/
    transition: all 300ms ease-in-out;
  }
  
  .ReactModal__Content--before-close {
    -webkit-transform: translate(-50%,-50%) scale(0) ;
    transform: translate(-50,-50%) scale(0) ;
    /*-webkit-transform: translate3d(0px,75px,0px);
    transform: translate3d(0px,75px,0px);*/
    transition: all 300ms ease-in-out;
  }
  
