.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    flex: none;
    width: 45%;
    max-height: 500px;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;

  }

  .playlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    flex: 1 1 auto;
    width: 100%;
  }
  
  .buttonContainer {
    flex: none;
    border-top: 1px solid #6f6f6f;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
  }
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;
  }
  
  .Playlist-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    cursor: pointer;
    width: 10rem;
    min-height: 25px;
    padding: .77rem 0;
    border-radius: 54px;
    margin-top: .8rem;
    background-color: #6c41ec;
    text-align: center;
    font-size: .83rem;
    transition: background-color 200ms;
  }
  
  .Playlist-button:hover {
    background-color: rgba(1, 12, 63, 0.7);;
  }
  
  /*::-webkit-scrollbar {
      width: 5px;
      background: transparent;
  }*/

  /* ---------  checkmark */
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #fff;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #6c41ec;
    stroke-miterlimit: 10;
    margin: 0 auto;
    box-shadow: inset 0px 0px 0px #fff;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48; 
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #fff;
      
    }
  }
    /* --------- */
 
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
      max-height: 400px;
    }
  }
