.playlists {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(1, 12, 63);
    /*border-left: .1rem solid rgb(128, 129, 134);
    border-right:.1rem solid rgb(128, 129, 134);*/
   ;
    border-radius: 5px;
  }
  
  .playlistDiv {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  .modalContentHeader {
    /*position: fixed;
    top: 0;
    right: 0;*/
    color: rgb(1, 12, 63);
    border-bottom: .2rem solid rgb(204, 204, 204);
    width: 100%;
    background-color: #fff;
  }

  ul {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 75%;
    width: 75%;
    margin: 1rem auto;    
  }

