.playlists {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .modalContentHeader {
    /*position: fixed;
    top: 0;
    right: 0;*/
    color: rgb(1, 12, 63);
    border-bottom: .2rem solid rgb(204, 204, 204);
    width: 100%;
    background-color: #fff;
  }
  ul {
    overflow: scroll;
    height: 50%;
  }
