.SearchResults {
    width: 45%;
    max-height: 500px;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
  }
  
  .searchResultsContainer {
    overflow-y: scroll;
    flex: 0 1 auto;
    width: 100%;

  }

  .SearchResults h2 {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;
    height: 2.4rem;
    display: flex;
    align-items: center;
    flex: none;
  }
  /*::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }*/
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
      max-height: 400px;
    }
  }